<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Регістрація</title>
    </head>
    <body>
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}
            <label for="">{{field.label}}</label>
            <div>{{field}}</div>
            {% if field.errors %}
                <p>{{field.errors}}</p>
            {% endif %}
            {% endfor %}
            <button type="submit">Зерегиструватися</button>
        </form>


    </body>
</html>